<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Article food</h1>
    <form action="/food", method="POST">
        <label for="">Name</label>
        <input type="text" name="name">
        <label for="">Value</label>
        <input type="text" name="value">
        <button>Send</button>
    </form>
</body>
</html>